.content {
  font-family: Helvetica, Arial, sans-serif;
  width: 864px;
  margin: 0 auto;
}

.number {
  display: inline-block;
  padding: 10px;
  margin: 2px;
  background: #f1f1f1;
  text-align: center;
  min-width: 30px;
}

.number:hover { cursor: pointer; }

.lucky { background: #ff0; }
.correct { background: #0f0; }
.incorrect { background: #f00; }